.about__content p {
    color: var(--color-light);
    font-size: 25px;
}

/* ============== Media queries (medium devices) =============== */

@media screen and (max-width:1024px) {
    #about {
        height: 70vh;
        text-align: center;
    }

    .about__content p {
        font-size: 1.3rem;
    }
}

/* ============== Media queries (small devices) =============== */

@media screen and (max-width:600px) {
    #about {
        height: 70vh;
        text-align: center;
        margin: 2rem 0.2rem;
    }

    .about__content p {
        margin: 1.5rem 0;
        font-size: 1rem;
    }
}