#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__content p {
    font-size: 1.2rem;
    margin: 1rem 0 1.5rem;
    color: var(--color-light);
}

/* ============== Media queries (medium devices) =============== */

@media screen and (max-width:1024px) {
    #about {
        height: 68vh;
    }
}

/* ============== Media queries (small devices) =============== */

@media screen and (max-width:600px) {
    #about {
        height: 100vh;
    }
}